/* DVB-I Servicelist Generator */
/*
sofia colors
orange: #e47600
light blue: #3996c9
dark: #0b0b0b
grey: #131313
lightgrey: #848484
darkblue: #011927
*/
html {
  height: 100vh; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main {
  flex: 1; }

.service {
  border: 1px solid #848484;
  border-radius: 8px;
  margin-bottom: 2em;
  padding: 0.5em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
  .service .serviceinstance {
    border-top: 1px solid #848484;
    margin: 1em 0em 0em 0em;
    padding: 1em 0.5em; }

#saved_servicelists .icon {
  width: 26px;
  height: 26px; }
#saved_servicelists .btn:focus, #saved_servicelists .btn.focus {
  box-shadow: none; }

.btn-outline-blue {
  border: 1px solid #3996c9;
  border-radius: 0px;
  color: #3996c9;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn-outline-blue:hover {
    background-color: #3996c9;
    color: #fff; }

.card {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1); }

.btn-orange {
  background-color: #e47600;
  border-color: #e47600;
  color: #fff; }
  .btn-orange:hover {
    background-color: #ff9018;
    color: #fff; }

.footer {
  height: 15vh;
  background-color: #011927;
  color: #fff; }
