/*
orange: #e47600
light blue: #3996c9
dark: #0b0b0b
grey: #131313
lightgrey: #848484
darkblue: #011927
*/
$orange-color: #e47600;
$blue-color: #3996c9;
$darkblue-color: #011927;
$lightgrey-color: #848484;
body {
  margin: 0px;
  padding: 0px; 
  height: 100vh;
  font-size: 12px;
  background-color: #333;
}
body {
  display: flex;
  flex-direction: column;
  //min-height: 100vh; 
}

.main {
  flex: 1; }

.video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
  box-shadow: 0px 0px 25px #000;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .channels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_chinfo.png");
    background-position: right;
    background-size: contain;
    .list-group {
      //border: 1px solid red;
      .list-group-item {
        background-color: transparent;
        border: none;     
        a {
          color: $lightgrey-color;
        }
        span:first-child {
          font-size: 1.0em;
          margin-right: 0.5em;
        }
        span:last-child {
          font-size: 1.2em;
        }
        &.active a {
          color: $blue-color;
          font-size: 1.5em;
        }
      }

    }
  }
  #channel_info {
        span:first-child {
          font-size: 1.0em;
          margin-right: 0.5em;
          color: $blue-color;
        }
        span:last-child {
          font-size: 1.2em;
          font-weight: 600;
          margin-left: 0.5em;
          color: $blue-color;          
        }
  }
}

