/*
orange: #e47600
light blue: #3996c9
dark: #0b0b0b
grey: #131313
lightgrey: #848484
darkblue: #011927
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
body {
  font-size: 12px;
  background-color: #333;
  font-family: 'Roboto', sans-serif; }

body.player {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.main {
  flex: 1; }

.menubar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white; }

.menuitem {
  float: left;
  margin-left: 20px; }

#video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #000; }

.video_wrapper {
  /*
  position: relative;
  padding-bottom: 56.25%;
  */
  /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
  box-shadow: 0px 0px 25px #000; }
  .video_wrapper .video {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
  .video_wrapper .player-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .video_wrapper .player-ui .channels {
      background-image: url("../images/bg_chinfo.png");
      background-position: right;
      background-size: 100% 100%; }
    .video_wrapper .player-ui .info {
      background-image: url("../images/bg_info.png");
      background-position: left;
      background-size: 100% 100%; }
    .video_wrapper .player-ui .list-group .list-group-item {
      background-color: transparent;
      border: none;
      height: 40px;
      line-height: 40px;
      padding: 0px; }
      .video_wrapper .player-ui .list-group .list-group-item a {
        color: #848484;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000;
        height: 40px; }
      .video_wrapper .player-ui .list-group .list-group-item span.chicon img {
        height: 20px; }
      .video_wrapper .player-ui .list-group .list-group-item span.chnumber {
        font-size: 1.2em; }
      .video_wrapper .player-ui .list-group .list-group-item span.chname {
        font-size: 1.2em;
        color: #fff; }
      .video_wrapper .player-ui .list-group .list-group-item.active a span {
        color: #3996c9;
        font-size: 1.4em; }
  .video_wrapper #channel_info span {
    text-shadow: 2px 2px 2px #000; }
    .video_wrapper #channel_info span.menuitem_chnumber {
      font-size: 1.0em;
      margin-right: 0.5em;
      color: #3996c9;
      display: block; }
    .video_wrapper #channel_info span.menuitem_chname {
      font-size: 1.5em;
      font-weight: 600;
      color: #3996c9;
      display: block; }
    .video_wrapper #channel_info span.menuitem_now {
      font-size: 1.0em;
      font-weight: 600;
      color: #848484;
      display: block; }
    .video_wrapper #channel_info span.menuitem_next {
      font-size: 1.0em;
      font-weight: 600;
      color: #848484;
      display: block; }
    .video_wrapper #channel_info span.menuitem_epg {
      font-size: 1.0em;
      text-shadow: none; }
      .video_wrapper #channel_info span.menuitem_epg a {
        text-decoration: none !important; }

/* common styles */
.hide {
  opacity: 0 !important;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  animation-name: displaynone;
  animation-duration: 0.2s; }

.show {
  opacity: 1 !important;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.color-blue {
  color: #3996c9; }

/* landing page */
.landingPage {
  background-color: #000;
  height: auto; }
  .landingPage .jumbotron {
    background-color: #000;
    background-image: url("../images/landinpage_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .landingPage li {
    font-size: 2em; }

.epg {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative; }
  .epg .grid.hide {
    display: none; }
  .epg .icon-white {
    filter: invert(100%); }
  .epg .end .icon-white {
    filter: invert(100%);
    opacity: 0.3;
    cursor: default; }
  .epg .navbar {
    background-color: rgba(0, 0, 0, 0.75); }
  .epg .list-programs li, .epg .list-programs .list-group-item {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff; }
    .epg .list-programs li.past, .epg .list-programs .list-group-item.past {
      opacity: 0.5; }
    .epg .list-programs li.current, .epg .list-programs .list-group-item.current {
      color: #3996c9;
      background-color: rgba(57, 150, 201, 0.2); }
  .epg .epg_chinfo {
    border-bottom: 2px solid #3996c9; }
    .epg .epg_chinfo.sticky-top {
      top: 56px;
      background-color: rgba(0, 0, 0, 0.75); }
    .epg .epg_chinfo .chnumber {
      font-size: 1.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-right: 0.2em; }
    .epg .epg_chinfo .chname {
      font-size: 1.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-weight: 600;
      max-width: 80%; }
    .epg .epg_chinfo .chicon {
      height: 45px; }

.programinfo.hide {
  display: none; }
.programinfo .chinfo .chnumber {
  font-size: 1.5em; }
.programinfo .chinfo .chname {
  font-weight: 700;
  font-size: 1.5em; }
.programinfo .title {
  font-weight: 700;
  margin-top: 0.5em; }
.programinfo .time {
  color: #3996c9;
  font-size: 1.1em; }
  .programinfo .time span {
    margin-right: 0.5em; }
.programinfo .description {
  font-size: 1.2em; }

@keyframes displaynone {
  from {
    display: block; }
  to {
    display: none; } }
